fastapi
uvicorn[standard]
python-multipart
celery==5.4.0
redis==5.0.8
google-generativeai
openai-whisper
gTTS
pydub
librosa
scikit-learn
soundfile
ffmpeg-python
numpy==1.26.4
opencv-python-headless
paddlepaddle
paddleocr
Pillow
requests
python-dotenv
aiofiles
